<% include partials/admin_header %>
<body>
	<% include partials/admin_nav %>
    <div class="content-wrapper py-3">
        <div class="container-fluid">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table">Customer List</i>
                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <table class="table table-bordered" width="100%" id="dataTable" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Zipcode</th>
									<th>Register date</th>
									<th>Balance</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Username</th>
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Zipcode</th>
									<th>Register date</th>
									<th>Balance</th>
                                </tr>
                            </tfoot>
                            <tbody>
								<% for (i = 0; i < customers.length; i++)   { %>
                                <tr>
                                    <td><%= customers[i].username%></td>
                                    <th><%= customers[i].name%></th>
                                    <th><%= customers[i].phone%></th>
                                    <th><%= customers[i].email%></th>
                                    <th><%= customers[i].zipcode%></th>
									<th><%= customers[i].register_date%></th>
									<th><%= customers[i].balance%></th>
                                </tr>
								<%  }  %>
                            </tbody>
                        </table>
                    </div>
					<a href="/dealers?add=true">Add customer</a><br>
                </div>
                <div class="card-footer small text-muted">
                    Updated yesterday at 11:59 PM
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /.content-wrapper -->

    <a class="scroll-to-top rounded" href="#">
        <i class="fa fa-chevron-up"></i>
    </a>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/tether/tether.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/sb-admin.min.js"></script>

</body>
</html>
