<<<<<<< HEAD
<% include partials/header %>

<div class="content-wrapper py-3">
    <div class="container-fluid">
        <div class="card mb-3">
            <div class="card-block">
			    <div style="width:30%; margin:25px auto">
			    <% if (typeof editMode == "undefined" || !editMode)  { %>
				<div class="table-responsive">
					<table class="table table-bordered" width="30%; margin:25px auto" id="dataTable" cellspacing="0">
						<tr>
							<th>Username:</th>
							<td> <%= user.username %> </td>
						<tr>
						<tr>
							<th>Name:</th>
							<td> <%= user.name %> </td>
						<tr> 
						<tr>
							<th>Phone:</th>
							<td> <%= user.phone %></td>
						<tr>
						<tr>
							<th>Zip code:</th>
							<td> <%= user.zipcode %></td>
						<tr>
						<tr>
							<th>Email:</th>
							<td><%= user.email %></td>
						<tr>	
					</table>
				</div>
				<a href="/profile?edit=true">Edit Profile</a><br>
				<% } else { %>
					<% if (typeof errorEditing != "undefined")  { %>
					<div class="alert alert-danger">
						<%= errorEditing %>
					</div>
					<% } %>
					<form action="/editProfile" method="POST">
					<!-- <div class="form-group">
							<input class="form-control" placeholder="Username" type="text" name="username" value=<%= user.username %>>
						</div> -->
						<div class="form-group">
							<input class="form-control" placeholder="Please enter your current Password" type="password" name="currentpasswd" >
						</div>
						<div class="form-group">
							<input class="form-control" placeholder="New password" type="password" name="newpasswd" >
						</div>
						<div class="form-group">
							<input class="form-control" placeholder="Confirm New password" type="password" name="newpasswd2" >
						</div>
						<div class="form-group">
							<input class="form-control" placeholder="Name" type="text" name="name" value=<%=user.name%>>
						</div>
						<div class="form-group">
							<input class="form-control" type= "tel" placeholder="Phone" name="phone" value=<%= user.phone %>>
						</div>
						<div class="form-group">
							<input class="form-control" type="zipcode" placeholder="Zipcode" name="zipcode" value=<%= user.zipcode%>>
						</div>
						<div class="form-group">
							<input class="form-control" type= "email" placeholder="Email" name="email" value=<%= user.email %>>
						</div>
						<div class="form-group">
							<input type ="submit" class="btn btn-lg btn-primary btn-block" value="Edit Profile">
						</div>		
					</form>
				<% } %>
				</div>
			</div>
		</div>
	</div>
</div>
<% include partials/footer %>
=======
<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Local</h3>

					<p>
						<strong>id</strong>: <%= user.id %><br>
						<strong>username</strong>: <%= user.username %><br>
						<strong>password</strong>: <%= user.password %>
					</p>

			</div>
		</div>

	</div>

</div>
</body>
</html>
>>>>>>> origin/Cars_update_post_delete_search
